.custom-padding {
  max-width: 700px !important;
  margin: 0 auto !important;
}

.custom-avatar {
  max-width: 112px !important;
}

.custom-font {
  font-size: 13.5px !important;
}

.custom-date {
  font-size: 14px !important;
}